/*Menú desplegable*/
#general{
    float: left;
    width: 95vw;
    background-color: rgb(142, 142, 190);
}
ul li{
    background-color: rgb(142, 142, 190);
    color: white;
    text-align: center;
	padding: 0px;
    margin: 0px;
	width: 125px;
	height: 30px;
    position: relative;
    float: left;
}
a{
    display: block;
    text-decoration: none;
    color: rgb(0, 3, 7);
    padding: 10;
}
a:hover{
    color: black;
    background-color: white;
    display: block;
    text-decoration: underline;
}
li:hover{
    color: black;
    background-color: white;
    display: block;
}
ul ul{
    display:none;
    position:absolute;
    top:100%;
    left: 0px;
    padding: 0px;
}
ul ul li{
    float:none;
    width:125px;
}
ul li:hover > ul {
    display:block;
}
body{
    background-image: url("../images/fondo-vintage.jpg");
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*Estilo propio del menú*/
#mainMenu{
    width: 90vw;
    height: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    color:rgb(0, 2, 2);
    /*Decoraciones de texto restantes*/
}
.zonaPlatos{
    align-content: center;
    justify-content: center;
}
.plato{
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
    justify-self: center;
}
/* Para ocultar las imágenes */
.plato img {
    display: none;
    position: absolute;
    z-index: 1; 
    margin-top: 20px;
    margin-left: 750px;
}
/* Para mostrar las imágenes al hacer hover */
.plato:hover img {
    display: block;
}
#mainMenu {
    position: relative;
    z-index: 3;
}
@font-face {
    font-family: fuente1;
    src: url(../fonts/verdanai.ttf);
}
h1{
    font-family: fuente1;
}
h2{
    font-family: fuente1;
}
/*Diseño responsive*/
/*Para tamaño mínimo*/
@media (max-width: 700px){
    
}
/*Para intermedio*/
/*@media (min-width: 900px){

}*/