body{
    /*background-color: rgba(1, 9, 22, 0.952);*/
    background-image: url("../images/fondo-vintage.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*Menú desplegable*/
#general{
    float: left;
    width: 95vw;
    background-color: rgb(142, 142, 190);
}
ul li{
    background-color: rgb(142, 142, 190);
    color: rgb(255, 255, 255);
    text-align: center;
	padding: 0px;
    margin: 0px;
	width: 125px;
	height: 30px;
    position: relative;
    float: left;
}
a{
    display: block;
    text-decoration: none;
    color: rgb(0, 3, 7);
    padding: 10;
}
a:hover{
    color: black;
    background-color: white;
    display: block;
    text-decoration: underline;
}
li:hover{
    color: black;
    background-color: white;
    display: block;
}
ul ul{
    display:none;
    position:absolute;
    top:100%;
    left: 0px;
    padding: 0px;
}
ul ul li{
    float:none;
    width:125px;
}
ul li:hover > ul {
    display:block;
}
#nombreRestaurante{
    color:azure;
    font-family: fuente1;
}
@font-face {
    font-family: fuente1;
    src: url(../fonts/verdanai.ttf);
}
img:hover {
    filter: blur(5px);
}
/*Diseño responsive*/
footer{
    visibility: hidden;
}
/*Para tamaño mínimo*/
@media (max-width: 700px){
    body{
        visibility: hidden;
    }
    footer{
        visibility: visible;
        position: absolute;
        color: red;
        font-size: 40pt;
    }
}
/*Para intermedio*/
/*@media (min-width: 900px){

}*/