/*Menú desplegable*/
#general{
    float: left;
    width: 95vw;
    background-color: rgb(142, 142, 190);
}
ul li{
    background-color: rgb(142, 142, 190);
    color: white;
    text-align: center;
	padding: 0px;
    margin: 0px;
	width: 125px;
	height: 30px;
    position: relative;
    float: left;
}
a{
    display: block;
    text-decoration: none;
    color: rgb(0, 3, 7);
    padding: 10;
}
a:hover{
    color: black;
    background-color: white;
    display: block;
    text-decoration: underline;
}
li:hover{
    color: black;
    background-color: white;
    display: block;
}
ul ul{
    display:none;
    position:absolute;
    top:100%;
    left: 0px;
    padding: 0px;
}
ul ul li{
    float:none;
    width:125px;
}
ul li:hover > ul {
    display:block;
}
body{
    background-image: url("../images/fondo-vintage.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*RSS tiempo*/
div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#tiempo{
    margin-left: 240px;
    font-size: 27pt;
}
/*Diseño responsive*/
/*Para tamaño mínimo*/
@media (max-width: 700px){
    
}
/*Para intermedio*/
/*@media (min-width: 900px){

}*/