#fondo {
	/*background-image: url("../images/1.jpg");*/
	padding: 400px 100px;
	text-align: center;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}
#fondo:before{
    content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.6);
}
/*Menú desplegable*/
#general{
    float: left;
    width: 95vw;
    background-color: rgb(142, 142, 190);
}
ul li{
    background-color: rgb(142, 142, 190);
    color: white;
    text-align: center;
	padding: 0px;
    margin: 0px;
	width: 125px;
	height: 30px;
    position: relative;
    float: left;
}
a{
    display: block;
    text-decoration: none;
    color: rgb(0, 3, 7);
    padding: 10;
}
a:hover{
    color: black;
    background-color: white;
    display: block;
    text-decoration: underline;
}
li:hover{
    color: black;
    background-color: white;
    display: block;
}
ul ul{
    display:none;
    position:absolute;
    top:100%;
    left: 0px;
    padding: 0px;
}
ul ul li{
    float:none;
    width:125px;
}
ul li:hover > ul {
    display:block;
}
body{
    background-color:burlywood;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*Propiedades para la tabla css del formulario de reserva*/
#tabla{
    display: table;
}
.fila{
    display: table-row;
}
.celda{
    display: table-cell;
}
.celdaE{
    display: table-cell;
    column-span: 2;
}