header{
    width: 100vw;
    background-color: blue;
}
/*Menú desplegable*/
#general{
    float: left;
}
ul li{
    background-color: blue;
    color: white;
    text-align: center;
	padding: 0px;
    margin: 0px;
	width: 125px;
	height: 30px;
    position: relative;
    float: left;
}
a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 10;
}
a:hover{
    color: black;
    background-color: white;
    display: block;
}
li:hover{
    color: black;
    background-color: white;
    display: block;
}
ul ul{
    display:none;
    position:absolute;
    top:100%;
    left: 0px;
    padding: 0px;
}
ul ul li{
    float:none;
    width:125px;
}
ul li:hover > ul {
    display:block;
}